<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{/static/styles.css}" href="../../static/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container mt-5">
            <div th:fragment="header">
                <nav class="navbar navbar-dark">
                    <ul class="nav">
                        <li class="nav-item ml-3">
                            <a th:href="@{/}" style="text-decoration: none; color: black"><i class="fa fa-home">Todos</i></a>
                        </li>
                        <li class="nav-item ml-3">
                            <a th:href="@{/projects}" style="text-decoration: none; color: black"><i class="fa fa-briefcase" aria-hidden="true">Projects</i></a>
                        </li>
                        <li class="nav-item ml-3">
                            <a th:href="@{/todos/add}" style="text-decoration: none; color: black"><i class="fa fa-plus" aria-hidden="true">Add Todo</i></a>
                        </li>
                        <li class="nav-item ml-3">
                            <a th:href="@{/projects/add}" style="text-decoration: none; color: black"><i class="fa fa-plus" aria-hidden="true">Add Project</i></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>