<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Todo</title>
    <th:block th:include="layout/header" />
</head>

<body>
    <div class="container card-container">
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    <h2>Task Details</h2>
                </div>
                <hr>
                <div>
                    <h3>Title : <span th:text="${todoById.title}"></span></h3>
                    <h6>Description : <span th:text="${todoById.description}"></span></h6>
                    <h6>Status : <span th:text="${todoById.status}"></span></h6>
                    <h6>Created At : <span th:text="${todoById.createdAt}"></span></h6>
                    <h6>Updated At : <span th:text="${todoById.updateAt}"></span></h6>
                    <h6>Completed At : <span th:text="${todoById.completedAt}"></span></h6>
                    <a th:if="${not todoById.status.equalsIgnoreCase('completed')}"
                        th:href="${'/todo/edit/' + todoById.id}" class="btn btn-info">
                        Edit
                    </a>
                    <a th:if="${todoById.status.equalsIgnoreCase('completed')}">
                        <a class="btn disabled">Edit</a>
                    </a>
                    <a href="javascript:void(0)" id="confirm-delete" class="btn btn-danger"
                        th:attr="data-id=${todoById.id}, data-name=${todoById.title +' : '+todoById.description}">
                        Delete
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-danger" th:href="@{/}">Back</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        $("#confirm-delete").on('click', function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            const name = $(this).data('name');
            $('#modal-name').html(name);
            $('#idModalLink').attr('href', '/deleteTask/' + id);
            $('#taskmodal').modal('show');

        })
    </script>
    <div class="modal fade" id="taskmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="myModalBody">
                    <p>Do you really want to delete this (<span id=modal-name></span>) record? </p>
                </div>
                <div class="modal-footer">
                    <a id="idModalLink" class="btn btn-danger" href="#">Yes</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>